


<p> שם החברה</p>
<input type="text" [(ngModel)]="currentCompany.CompanyName"/>

<p>רחוב </p>
<input type="text"[(ngModel)]="currentCompany.CompanyStreet"/>
<p>מספר בנין  </p>
<input type="number"[(ngModel)]="currentCompany.CompanyNumBuild"/>
<p>המייל של החברה </p>
<input type="email" [(ngModel)]="currentCompany.CompanyMail"/>
<p>טלפון </p>
<input type="text"[(ngModel)]="currentCompany.CompanyTel"/>
<p>אזור:</p>
<select #area1 (change)="getCity($event)">
  <option *ngFor="let sub of jobParameters.Areas" value="{{sub.AreaId}}">{{sub.AreaName}}</option>
</select>

<p>עיר:</p>

  <select  *ngIf="cities"(change)="city($event.target.value)">
  <option *ngFor="let c of cities" value="{{c.CityId}}">{{c.CityName}}</option>
  </select> 
  
 <select *ngIf="!cities"  (change)="city($event.target.value)" >
   <option  *ngFor="let c of jobParameters.Cities" value="{{c.CityId}}">{{c.CityName}}</option>
  </select> 
<p>הרשם</p>
 <input type="button"(click)="addCompanyParameters(area1)" > 




 <!-- <form [formGroup]="stateForm">
  <mat-form-field>
    <input type="text" matInput placeholder="States Group" formControlName="stateGroup" required [matAutocomplete]="autoGroup">
      <mat-autocomplete #autoGroup="matAutocomplete">
        <mat-optgroup *ngFor="let group of stateGroupOptions | async" [label]="group.letter">
          <mat-option *ngFor="let name of group.names" [value]="name">
            {{name}}
          </mat-option>
      </mat-optgroup>
    </mat-autocomplete>
  </mat-form-field>
</form> -->
