
<section class=" pagination-centered">
  <div class="container justify-content-center">
    <div class="row">
      <!-- Free Tier -->
      <div>
        <!-- <div class="col-lg-6"> -->
        <div *ngFor="let j of Jobs" class="center-block">

          <div class="card mb-5 mb-lg-0">

            <div class="card-body">
              <h5 class="card-title text-muted text-uppercase text-center">{{j.JobRole}}</h5>
              <h6 class="card-price text-center"><span class="period">{{j.CompanyName}}</span></h6>
              <hr>
              <div class="fa-ul">
                <p><b>:תאור תפקיד</b></p>
                <p>{{j.JobDescribe}}</p>
               <!--  <label for={{j.JobId}}> קרא עוד </label>
                <input type="checkbox" class="checkboxHidden" id={{j.JobId}}> -->
                <div class="facebook">
                  <p><b>דרישות</b></p>
                  <p>{{j.JobRequire}}</p>
                  <p><b>מס' שנות ניסיון: </b>{{j.JobExperience}}</p>
                  <p><b>סביבת עבודה: </b>{{j.WSName}}</p>
                  <p><b>חסימת אינטרנט: </b>{{j.OutNetName}}</p>
                  <p><b>סוג משרה: </b>{{j.PartName}}</p>

                </div>
                
                <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Monthly Status Reports</li>
              </div>
              <input type="button" (click)="OKTheJob(j.JobId)" class="btn btn-block btn-primary text-uppercase" value="אשור משרה ככשרה">
              <!-- <a href="#" class="btn btn-block btn-primary text-uppercase">הרשם</a> -->
            </div>
          </div>
        </div>
        <!-- Plus Tier -->

        <!-- Pro Tier -->

      </div>
    </div>
  </div>
  <mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="pageEvent = getServerData($event)"
    [hidePageSize]="true">
  </mat-paginator>


</section>